<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Cluent</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper" style="background-color:rgb(144, 144, 206);">
        <a href="/cdash" class="brand-logo"
          ><img
            src="{{url_for('static',filename='1.png')}}"
            alt=""
            width="100px"
            height="50px"
        /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/aaccount">Account</a></li>
          <li><a href="/assigncoupon">Shop</a></li>
        </ul>
      </div>
    </nav>
    <br /><br />
    <div class="container">
        <h3 align="center">Valuable Customers</h3>
        <div class="col s12 m7">
                <br>
                <div class="card horizontal" style="box-shadow:10px 10px 5px grey">
                  <div class="card-image">
                    <img width="200px" height="335px" src="{{url_for('static',filename='images/max.jpg')}}" >
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <h5 style="color:rgb(14, 110, 98);font-weight:bolder;">MAX</h5>
                      <p style="font-size: 15px;">MaxFashion provides a wide range of Designer Clothes, Shoes, Bags, Belts and Accessories at affordable prices in India|✓Free Shipping* ✓Easy Return ✓COD. <hr>
                      <p style="font-size: 15px;">Location: Chinnappa Avenue, Nandivaram, Guduvanchery, Chennai, Tamil Nadu 603202</p>
                    </div>
                    <div class="card-action">
                      <a href="https://www.google.com/search?client=firefox-b-d&tbm=lcl&sxsrf=ACYBGNRT6MzmovqaPQPuC2uHIVeu_HImGA%3A1570816450909&ei=wsGgXeaHN-3D3LUPj72bmAo&q=Max&oq=Max&gs_l=psy-ab.3..35i39k1l2j0i131i273k1j0i273k1j0i10k1j0l5.12609.12921.0.13644.3.3.0.0.0.0.133.349.1j2.3.0....0...1c..64.psy-ab..0.3.349...0i131k1j0i67k1j0i20i263k1.0._8bScWM7ul8#rlfi=hd:;si:10661623427088977140,a;mv:[[12.885096711693839,80.25909735595702],[12.682200343049727,79.88178564941404]]" target="_blank" style="font-weight:bold;color:currentColor"> <img src="{{url_for('static',filename='images/m.png')}}" width="60px" height="25px" style="position: absolute"alt="" ><span style="position:relative;margin-right:70px"></span> LOCATE</a>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </body>
</html>
